{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}
    <title>Steca e Bortese Eventos</title>
    {% endblock titulo %}

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

</head>
<body>
    <h4> Menu Superior <h4>
        <ul>
            <li>
                <a href= "{% url "index" %}" > Início</a>
            </li>
            <li><a href= "{% url "sobre" %}" > Sobre nós</a></li>

            {% if request.user.is_authenticated %}           
            
            <li><a href= "{% url "inserir-tipo" %}" > Cadastrar o Tipo do Evento</a></li>
            <li><a href= "{% url "inserir-localizacao" %}" >Indicar a Localização do Evento</a></li>
            <li><a href= "{% url "inserir-perfil" %}" >Cadastre seu Perfil</a></li>
            <li><a href= "{% url "inserir-funcionario" %}" >Cadastre o seu Perfil de Funcionário</a></li>
            <li><a href= "{% url "inserir-evento" %}" >Cadastre o Evento Desejado</a></li>
            <li><a href= "{% url "inserir-orcamento" %}" >Clique aqui para Realizarmos o Orçamento</a></li>
            
            <li><a href= "{% url "logout" %}" >LOGOUT</a></li>
            
            {% else %}
            <li><a href= "{% url "login" %}" >LOGIN</a></li>
            {% endif %}



        </ul>

        {%  block conteudo  %}
   <h3>Página inicial<h3>
  
        {%  endblock  %}

        <p>
            Desenvolvido por Bruna Steca e Yasmim Bortese
        </p>
</body>
</html>