{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}
    <title>Steca e Bortese Eventos</title>
    {% endblock titulo %}

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

</head>
<body>
    <h4> Menu Superior <h4>
        <ul>
            <li>
                <a href= "{% url "index" %}" > Início</a>
            </li>
            <li>
                <a href= "{% url "sobre" %}" > Sobre nós</a>
            </li>
        </ul>
        {%  block conteudo  %}
   <h3>Página inicial<h3>
  
        {%  endblock  %}

        <p>
            Desenvolvido por Bruna Steca e Yasmim Bortese
        </p>
</body>
</html>