{% extends "paginas/index.html" %}

{% load static %}

{%  block conteudo   %}

<h3>Sobre</h3>
<p>
    A Steca e Bortese Eventos é uma empresa especializada na criação, organização e realização de eventos marcantes e personalizados. Unindo criatividade, excelência operacional e sensibilidade para entender o que cada cliente deseja, transformamos momentos especiais em experiências verdadeiramente inesquecíveis.
    Fundada com a missão de elevar o padrão de eventos sociais e corporativos, a Steca e Bortese alia inovação, sofisticação e atenção aos detalhes para entregar muito mais do que uma celebração: entregamos emoção, conexão e significado.
</p>
<p>
    <img src="{% static "img/diagramaDeClasse.png" %}" alt="A">
</p>

{% endblock %}