{% extends "paginas/index.html" %}

{% load static %}

{%  block conteudo   %}

<h3>Lista de Orçamentos Cadastrados</h3>
<table class="table table-striped">

    <tr>
        <th>Orçamentos</th>
        <th>Opções</th>
    </tr>

    {% for orcamento in object_list %}
    <tr>
        <td>{{ obj.nome }}</td>
        <td>
            <a href="{% url "editar-orcamento" orcamento.pk %}" class="btn btn-sm btn-primary">Editar</a>
            <a href="{% url "deletar-orcamento" orcamento.pk %}" class="btn btn-sm btn-danger">Deletar</a>
        </td>
    </tr>
    {% empty %}
    <tr> 
        <td colspan="2">Nenhum registro encontrado.</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}