{% extends "paginas/index.html" %}

{% load static %}

{%  block conteudo   %}

<h3>Lista de Eventos Cadastrados</h3>
<table class="table table-striped">

    <tr>
        <th>Nome</th>
        <th>Opções</th>
    </tr>

    {% for tipoEvento in object_list %}
    <tr>
        <td>{{ tipoEvento.nome }}</td>
        <td>
            <a href="{% url "editar-tipo" tipoEvento.pk %}" class="btn btn-sm btn-primary">Editar</a>
            <a href="{% url "deletar-tipo" tipoEvento.pk %}" class="btn btn-sm btn-danger">deletar</a>
        </td>
    </tr>
    {% empty %}
    <tr> 
        <td colspan="2">Nenhum registro encontrado.</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}